.productslider{
    width: 100%;
    // margin-left: 2rem;
    .thumb {
        display: block;
        width: 100%;
     
        

    
    
        img {
            width: 21.3rem;
            height: 100%;
            padding: 0.4rem;
            object-fit: contain;
            // border: 1px solid rgb(148, 148, 148) ;
            cursor:pointer;
            overflow: hidden;
        }
      }
    .detailss{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        .brandname{
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            font-weight: 700;
        }
        .nameslider{
            margin-bottom: 0.6rem;
            a{
                color: black;
                font-weight: 300;
                font-size: 1.3rem;
            }
        }
        .price{
            margin-bottom: 0.6rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 480px) {
  .productslider{
      .thumb{
          img{
              width: 18rem;
          }
      }
      .detailss{
          width: 95%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
      }
  }
}