.apdrcontainer {

  
  
   /* margin-top: 190rem; */
    width: 100%;
    height: 100%;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
    /* position: relative; */
    border-radius: 10px;
    /* height: 220%; */
    display: flex;
    justify-content:center ;
   text-align: center;
    /* background: var(--white); */
    margin-bottom: 10rem;
    

  }

  .headingapp {
    margin-top: 10rem;
  }

  .footer{
    /* margin-top: 90rem; */
  }

  .headingapp {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 13rem;
    /* margin-top: 2rem; */
  }

  .headingapph1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

  }

  .headingapppar{
    font-size: 1.3rem;
    margin: 1rem;
  }
  
 
  .form-content-left {
    background: linear-gradient(
      90deg,
      rgb(245, 245, 245) 0%,
      rgb(230, 230, 230) 100%
    );
    border-radius: 1px 0 0 1px;
    
    position: relative;
  }
  
  .form-img {
    width: 99.8%;
    height: 99.8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: rgb(54, 54, 54);
  }
  
 
  
  .form {
    height: 100%;
    margin-top: 28rem;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .form > .enterdetail {
    margin-top: 5rem;
  }
  
  .form h1 {
    font-size: 2rem;
    /* text-align: center; */
    width: 30%;
    margin-bottom: 4rem;
    color: #fff;
    background:black ;
    text-align: center;
    margin-top: -3rem;
    /* height: 40rem; */

  }
  
  .form-inputs {
    margin-bottom: 0.8rem;
    width: 80%;
    margin-left: 25%;
    text-align: left;
    
  }
  .form-inputs select{
    width: 71%;
    padding: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    background: var(--white);
    opacity: 90%;
  }

  select option {
    position: absolute;
    background-color: var(--white);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
   
  .form-inputs h5 {
    font-size: 1.2rem;
    /* background: lightcoral; */
  }
  .form-inputs textarea {
    margin-top: 2rem;
    width: 71%;
    background: var(--white);
    opacity: 90%;
  }
  
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;

    color: #f00e0e;
    text-transform: uppercase;
  }
  
  .form-label {
    display: inline-block;
    font-size: 1.3rem;
    /* letter-spacing: 1px; */
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
    text-align: left;
    margin-left: 1rem;
    text-transform: uppercase;

  }
  
  .form-inputs> .form-input {
    display: block;
    margin-left: 20%;
    padding-left: 10px;
    border: 0.1px solid rgb(185, 185, 185);
    height: 40px;
    width: 70%;
    /* border: none; */
    /* text-transform: capitalize; */
    margin: 0.5rem;
    /* background:var(--white); */
    /* background: chartreuse; */
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
    padding: 10px;
  }
  
  .form-input-btn {
    display: block;
    width: 30%;
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    background: rgb(0, 1, 83);
    /* margin: 0 auto; */
    outline: none;
    cursor: pointer;
    background-color:var(--black);
        color: var(--white);
        border: 1px solid var(--blue);
        /* width: 26rem; */
        letter-spacing: 2px;
        padding: 1.6rem;
        transition: 0.3s ease-out;

    
  }

  .form-input-btn:hover {
    font-weight: 800 ;
  }
  
 
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }