.products {
  // background-color: blue;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  
  .popupcart{
    position: relative;
    bottom: 100rem;
  }
  .popupcart-hide{
    background-color: chartreuse;
  }

  .maincategoryimage{
    transform: translateY(0);
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 45rem;
      object-fit: cover;
    }
  }

  .listsection{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;



    .filterform{
      width:30%;
      justify-content: center;
      padding-left: 4rem;
      transition: 1s ease-in-out;
      background-color: burlywood;
      .gender{
        background-color: bisque;
        transition: 1s ease-in-out;
      }
      .genderhide{
        display: none;
        transition: 1s ease-in-out;
      }
      .size{
        background-color: bisque;
      }
      .sizehide{
        display: none;
      }
      .brand{
        background-color: bisque;
      }
      .brandhide{
        display: none;
      }
  
      .inputlayout{
        display: flex;
        flex-direction: row;

        input{
          padding: 1rem;
          background-color: brown;
        }
      }
      
      .filtertitle{
        font-size: 3rem;
        font-weight: 400;
        text-transform: capitalize;
        padding: 1rem;
      }
  
    }
  }

  

  .producttitle {
    width: 30%;
    font-size: 2rem;
    text-align: left;
    // margin: 1rem;
    margin-left: 4rem;
    margin-top: 4rem;
    // border-bottom: 1px solid var(--gray);
    text-transform: uppercase;
    padding-bottom: 2rem;
    span{
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  }

  .popupcart{
    background-color: cadetblue;
  }
  

  .forms {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;       

        .filerstitle{
          margin-top:1rem ;
          font-size: 1.6rem;
          border-bottom: 1px solid rgb(221, 221, 221);
        }
    
        .filtersection {
          display: flex;
          width:auto;
          flex-direction:column ;
          margin-left: 6rem;
  
          ::-webkit-scrollbar{
            width: 0.1rem;
          }

          .gap{
            height: 2rem;
          }

          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
          }
           
          ::-webkit-scrollbar-thumb {
            background-color: var(--gold);
            outline: 1px solid rgb(95, 95, 95);
            height: 1rem;
          }
        
          h5{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.3rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
          }

          .genderfilter{
            height: 8rem;
            overflow-y:scroll;

              
          }
          .brandfilter{
            width: 20rem;
            height: 25rem;
            overflow-y: scroll;
            // border-top: 1px solid var(--gray);
            padding-top: 1rem;
            padding-bottom: 3rem;
            
          }
          .catfilter{
            height: 25rem;
            overflow-y: scroll;
            padding-top: 1rem;
            padding-bottom: 9rem;
            margin-bottom: 4rem;


          }
        }
  }
  

        .productResults{
              // margin-top: 1rem;
              display: inline-grid;
              justify-content: center;
              grid: center;
              grid-gap: 1rem;
              // margin-left: 50%;
              grid-template-columns: 28% 28% 28% ;
              

        }


        .productsection {
          
            border:0px solid rgb(241, 241, 241);
            // transition: 1s ease-in-out;
            &:hover {
              box-shadow: none;
            }

            

          

          .sale{
            // display: none;
            font-size: 1.5rem;
            border: 1px solid var(--gold);
            border-radius: 10px;
            padding: 0.5rem;
            width: 13rem;
            text-align: center;
            color: white;
            background-color: var(--gold);
            position: relative;
            top: 65%;
            left: 25%;
            visibility: hidden;
            transition: 0.7s ease-in-out;
            // font-family: 'Ropa Sans', sans-serif;
            // opacity: 0.7;

            a{
              color: white;
              transition: 0.4s ease-in-out;
            }

            
          }

            .wishlist {
              position: relative;
              top: 6rem;
              left: 1rem;
              display: none;

              // visibility: hidden;
              

              .MuiSvgIcon-root{
                font-size: 2rem;
                font-weight: 300;
                color: rgb(139, 139, 139);
                cursor: pointer;
                fill: rgb(209, 209, 209);

                &:hover{
                  fill: red;
                }
                &:active {
                  transform: scale(1.2);
                }
              }
            }
          
            .thumb {
              display: block;
              width: 100%;
           
              

          
          
              img {
                display: block;
                width: 100%;
                margin: 0;
                object-fit:fill;
                border: 1px;
                
              
              }
              img:hover {
             
                transition: 0.5s;
                
              }
              
            }
          
            .details {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
              width: 100%;
              text-align: left;

              .MuiSvgIcon-root{
                font-size: 2rem;
                margin-right: 1rem;
                cursor: pointer;
              }
              
              .pop{

                .iconcol{
                  color: rgb(255, 55, 55);
                }
                .iconcoler{
                 
                  color: rgb(172, 172, 172);

                }
                
              
              }
              ul, ul li {
                padding: 0;
                margin-top: 1rem;
              }
          
              ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // align-items: flex-start;
                
                .brandname{
      
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 500;
                  text-transform: uppercase;
  

                  a{
                    // color: white;
                    color: var(--black);
                    // margin-bottom: 3rem;

                  }
                  
                }
          
                .name {
                
                  font-size: 1rem;
                  text-align: left;
                  font-weight: 400;
                  text-transform:uppercase;
                  margin-top: 0.2rem; 
                  line-height: 14px;
                  a {
                    color: var(--black);
                  }

                }
          
                .price {
                  // font-family: 'Nunito Sans', sans-serif;
                  display: flex;
                  flex-direction: row;
                  margin-top: 0.5rem;
                  margin-bottom: 1rem;
                  line-height: 1;
                  font-weight: 600;
                  color: black;
                  .pricee{
                      font-size: 1.5rem;
                  }
                  
                  .discountprice{
                    text-decoration: line-through;
                    color:rgb(134, 0, 0);
                    padding-left: 1rem;
                    font-size: 1.2rem;
                    padding-top: 0.2rem;
                  }
                }

                
          
                li {
                  width: 100%;
                  list-style-type: none;
                  text-align: left;
                  margin: 0;
          
                  a {
                    // color: black;
                  }
                }
              }
          
                  .addToCart {
                    align-items: center;
                    justify-content: center;
                    color:var(--blue);
                    text-transform: uppercase;
                    border: none;
                    cursor: pointer;
                    // opacity: 0.7;
                    transition: 0.5s;
                    background: var(--white);
                  }
                  :hover{
                    // opacity: 1;
                  }
            }
          }
}

@media only screen and (max-width: 480px){
  .products{
    margin-top: 7rem;
    margin-bottom: 0;

    .producttitle {
      // width: 100%;
    }
    .forms{
      .filtersection{
        display: none;
      }
    }
    .productResults{
      grid-gap: 0;
      padding: 0;
      margin: 0;
      grid-template-columns: 50% 50%;
    }
  }
}

@media only screen and (max-width: 380px){
  .products{
    .forms{
      .filterbar{
        // position: absolute;
        visibility:visible;
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
   
      
      
        .MuiSvgIcon-root{
          margin-right: 1rem;
          font-size: 2.3rem;
          }
        .firstbar{
          display: flex;
          justify-content: center;
          align-items: center ;
          width: 100%;
          border: 1px solid rgb(221, 221, 221);
          padding: 1rem 0 1rem 0;
        }
        .secondbar{
          display: flex;
          justify-content: center;
          align-items: center ;
          width: 100%;
          border: 1px solid rgb(221, 221, 221);
          padding: 1rem 0 1rem 0;
          
        }
      }
    }
  }
}

