.droppcontainter {
    width:100%;
    min-height:100rem ;
    /* margin-bottom: 30rem; */
    background-color: black;
    
    /* background-image: url(./../../assets/contact-form-bg.jpg); */


}

.droplike {
    color:black;
    text-align: center;
    font-size: 2rem;
    
}

.droppheader {
    text-transform: uppercase;
    /* text-align: center; */
    /* padding-top: 0.5rem; */
    /* color: var(--white); */
    padding-right: 1.5vw;
    padding-left: 1vw;
    color:var(--blue);
    /* height: 5rem; */
    align-items: center;
    /* justify-content: center; */
    font-size: 1.2rem;
    letter-spacing: 3px;
    /* margin-bottom: 3rem; */
    background: transparent;
    text-align: center;
    margin-left: 0rem;
}

hr{
    width: 4rem;
    height: 2px;
}
/* .droppheader > h2 {
    color: red;
    font-size: 3rem;
    position: absolute;
    top: 0;
    background: cornsilk;
    height: 3rem;
} */

.dropback > category{
    display: flex;


}


@media screen and (max-width: 3650px) {
    .dropback {
        margin-left: 20vw;
    }
}

@media only screen and (max-width: 1400px) {
    .dropback{
        margin-left: 26%;
        margin-right: 26%;
    }
}
@media only screen and (max-width: 1000px) {
    .dropback{
        margin-left: 21%;
        margin-right: 21%;
    }
}
@media only screen and (max-width: 800px) {
    .dropback{
        margin-left: 14%;
        margin-right: 14%;
    }
}
@media only screen and (max-width: 600px) {
    .dropback{
        margin-left: 7%;
        margin-right: 7%;
    }

}
@media only screen and (max-width: 480px) {
    .dropback{
        margin-left: 3%;
        margin-right: 3%;
    }
}


     .dropback {
        display: flex;
        flex-flow:column;
        flex-direction: row; 
        /* align-items: center; */
        /* justify-content: center;  */
        /* // height: 100vh;*/
        position: absolute;
        align-content:"center";
        top: 10rem;
        background:var(--white);
        border-radius: 10px;
        min-height: fit-content;
        padding-top: 2.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        opacity: 97%;
        padding-bottom: 4rem;
        margin-top: 3rem; 

        /* background-color: #e5e5f7; */
        /* opacity: 1;
        background-image:  radial-gradient(#adadad 1px, transparent 1px), radial-gradient(#b9b9b9 1px, var(--white) 1px);
        background-size: 90px 70px;
        background-position: 0 0,20px 20px; */
        /* transform: translateX(50%);*/
        /* margin-bottom: 10rem; */
     }



    hr {
        margin: 3rem;
        /* padding-top: 2rem; */
        width: 60%;
        background: black;
        height: 0.3px;
        margin: 0;
        opacity: 240%;
        display: none;
    }

    .mail {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 2rem;
    }
    .MuiSvgIcon-root{
        margin-left: 0.1rem;
        color: black;
        font-size: 3rem;
        /* padding: 1rem; */
    }
    .droppform {
        display:flexbox;
        /* justify-content: center; */
       
    }

    
    .droppimage >img{
        width: 100%;
        position: static;
        margin-top: 90px;
        top: -6rem;
        object-fit:fill;
        min-height: 100rem;
        z-index: 0;
        /* display: none; */
    }
    .flex-wrap {
        display:flex;
        flex-direction: row;
        max-width: 100vw;
        
        /* margin-bottom: 2rem; */
        /* margin: 1rem; */
        padding: 1rem;
        margin-right: 2rem;
    }
    .catebutton {
        display: flex;
        flex-direction: row;
        max-width: 10rem;
        /* margin-bottom: 2rem; */
        /* margin: 1rem; */
        padding: 1rem;
        margin-right: 2rem;
    }

    .dropform-inputs{
        /* margin-left: -25rem; */
        /* background: chartreuse; */
        max-width: 95%;
        
        
    } 
    .dropform-inputs > .dropform-input  {
        width: 100%;
        padding: 1rem;
        border: 0.2px solid rgb(163, 163, 163);
        background: var(--white);
        /* border-radius: 1px; */

        /* background: chartreuse; */
        /* background: cadetblue; */
    }

    .form-labels {
        color: black;
    }

    .flex-wrap > label {
        margin-right:0.5rem ;
        /* background: cadetblue; */
    }
    .catebutton > label {
        margin-right:0.5rem ;
        /* background: cadetblue; */
    }

     .chooseheader {
         margin-top: 3rem;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        text-transform: uppercase;

    }

   

        .flex-wrap > input[type="radio"]{
            display: none;
            
        }
    
        .flex-wrap > input[type="radio"]:checked+label{
            background: black;
            color: blanchedalmond;    
        }
        .catebutton > input[type="radio"]{
            display: none;
            
        }
    
        .catebutton > input[type="radio"]:checked+label{
            background: black;
            color: blanchedalmond;    
        }

        input[type="radio"]:checked+label::after{
            height: 56px;
            width: 16px;
            border: 20px solid white;
            background: black;
            color: blanchedalmond;   
        }
        input[type="radio"]:checked+label::before{
            height: 56px;
            width: 16px;
            border: 20px solid white;
            background: black;
            color: blanchedalmond;   
        }

        .form-labels {
            margin-top: 1rem;
            display: inline-block;
            font-size: 1.3rem;
            margin-bottom: 6px;
            color: rgb(10, 10, 10);
            text-transform: uppercase;
            font-weight: 600;
          }

        .flex-wrap > label{
            background: white;
            border: 1px black solid;
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            border-radius: 20px;
            font-size: 1.5rem;
            cursor: pointer;
            height: 4rem;
            width: fit-content;
            /* font-weight: 600; */

        }
        .catebutton > label{
            background: white;
            border: 1px black solid;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            border-radius: 20px;
            font-size: 1.5rem;
            cursor: pointer;
            height: 4rem;
            width: 24rem;

        }

        
 
        .custom-radio input:checked + .radio-btn {
            border: 3px solid #8373e6;
            background-color: blue;
          }
