.modalOverlay {
    position: fixed;
    top: -20rem; left: 0;
    width: 100%;
    height: 100rem;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(4px);

    margin-top: 5rem;
    z-index: 1;
 
  }
  
  .modalWrap {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
  
  
    .modal {
      position: absolute;
      top: 50%; left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: white;
      width: 100rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
      padding-bottom: 20rem;
      height: auto;
      min-height: 40.0rem;
      pointer-events: all;
      max-height: 95vh;
      overflow: auto;
      
      .MuiSvgIcon-root{
        position: absolute;
        right: 2.6rem;
        font-size: 2rem;
        top: 2rem;
        cursor: pointer;
        color: rgb(68, 68, 68);
      }

    }
  }

