.shippingdel{
    width: 80%;
    margin-left: 5%;
    margin-top: 1%;
    font-weight: 500;
    color:var(--black);
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.9rem;
     b{
         font-weight: 600;
     }
}