.footer {

    // border-top: 0.5px solid rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin-top: 6rem;
    background: var(--black);

    .getourmails{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1rem;
      background-color: var(--black);
      color: white;
      height: 10rem;
      width: 100%;
      border-bottom: 1px solid rgb(112, 112, 112);
      margin-bottom: 3rem;

      .MuiSvgIcon-root{
          font-size: 2rem;
          color: white;
          margin: 2rem 2rem 0 2rem;
      }
    }
  
   

    .info {

        display: inline-grid;
        grid-template-columns: 20% 20% 20% 20% ;
        justify-content: center;
        grid: center;
        grid-gap: 0;
        border-bottom: rgb(56, 56, 56) 1px solid;
        // border-top: var(--white) 1px solid;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        h4{
            font-size: 1.4rem;
            text-transform: uppercase;
            width: 100%;
            letter-spacing: 2px;
            color: var(--white);
            margin-bottom: 2rem;
            // color: var(-blue);
        }

        .followus{
            
            .MuiSvgIcon-root {
                font-size: 2rem;
                color: var(--white);
                // color: var(--blue);
                margin: 1rem;
              }

            
        }
        
    
    
        p {
            font-size: 1.3rem;
            color: var(--white);
            // color: var(--blue);
            padding: 0.5rem;
            width:100%;
            cursor: pointer;
        }
        p::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: var(--white);
            transition: width .3s;
        }
        
        p:hover::after {
            width: 25%;
            //transition: width .3s;
        }
    }

    .policy{
        // background: var(--blue);
        background: var(--black);
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem;
        width: 100%;
        color: var(--white);
        border-bottom: rgb(59, 59, 59) 1px solid;
    }

}

@media only screen and (max-width: 480px) {

    .footer{
        display: flex;
        flex-direction: column;
        .info{
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;
           width: 80%; 

            h4{
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
        }

        .policy{
            letter-spacing: 1px;
            line-height: 2rem;
        }
    }

}