
.search__container{
    margin-top: 1rem;
    margin-left: 3rem;
    /* padding-top: 64px; */
    /* background-color: black; */
    width: 25rem;
}
input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    border: none;
    color: #575756;
    background-color: transparent;
    border-radius: 50px;
    border-bottom: 0.1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__container::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: black;
}

.search__container :hover{
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
