// .formRowinput {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
   
//     label {
//         display: flex;
//         font-weight: 500;
//         margin-top: 0.6rem;
//         letter-spacing: 0;
//         text-align: right;
//         // background-color: crimson;
//         margin-right: 2rem;
//         justify-content: center;
//         align-items: center;
//     }

//     input{    
//         display: flex;
//         width: 70%;
//         font-size: 1.2rem;
//         line-height: 1;
//         font-weight: 400;
//         text-align: left;
//         padding: 8px 5px;   
//         // margin: 10px auto;
//         border: 1px solid #969696;
//         border-radius: 0px;
//         // border: none;
//         outline: none;
//         color: black;
//         margin-bottom: 0.5rem;
//         // margin:auto;
//     }

//     .formInput {
//         // background-color:white;
//         // margin-top: -1rem;  
//         // margin: auto; 
//     }

//     ::placeholder{
//         text-align: center;
//         color: rgb(194, 194, 194);
//     }
// }




// // .formRow {

// //     Input{    
// //         width: 90%;
// //         font-size: 1.2rem;
// //         line-height: 1;
// //         font-weight: 400;
// //         text-align: left;
// //         // padding: 10px 5px;   
// //         margin: 10px auto;
// //         border-bottom: 1px solid #000000;
// //         border-radius: 0px;
// //         // border: none;
// //         outline: none;
// //         color: black;
// //         margin-bottom: 2.5rem;
// //     }

// //     .formInput {
// //         // background-color:white;
// //         margin-top: -1rem;
// //     }

// //     ::placeholder{
// //         text-align: center;
// //         color: rgb(194, 194, 194);
// //     }
.formRow {

  ::placeholder{
    color: rgb(204, 204, 204);
    text-transform: lowercase;
  }

    input,
    &.checkoutInput select {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: 300;
      text-align: left;
      padding: 12px 5px;
      margin:  2px auto;
      border: 1px solid #c5c5c5;
      outline: none;
      border-radius: 5px;
      margin-bottom: 0.9rem;
      // font-family: 'Ropa Sans', sans-serif;
      
    }
  }